{% extends 'base.html' %}


{%block body_block %}
 <div class="modal-body">
            <button class="btn btn-success btn-lg btn-block" >Tec Support</button>{% csrf_token %}
            <button class="btn btn-success btn-lg btn-block" >Field Service</button>
            <button class="btn btn-success btn-lg btn-block" >Parts Orders</button>
            <button class="btn btn-success btn-lg btn-block" >Projects</button>
            <button class="btn btn-success btn-lg btn-block" >Schedules</button>
			<button class="btn btn-success btn-lg btn-block" href >Staff</button>
            </div>
          </form>
      </div>
      <div class="modal-footer">
         
      </div>

{% endblock %}
